<div class="container">

    <h2 align="""center">Users</h2>

    <div class="well" ng-show="isAddingUser">
        <form>
            <div class="form-group">
                <label>Add a user</label>
                <input class="form-control" ng-model="userToSave.name">
            </div>
            <div align="right">
                <a class="btn btn-default" ng-click="closeAddUserForm()">Cancel</a>
                <a class="btn btn-primary" ng-click="saveUser(userToSave)">Create</a>
            </div>
        </form>
    </div>

    <div>
    <a type = "button" class = "btn btn-default" ng-click = "displayAddUserForm()">Add user</a>
    </div>

    <br/>

    <div>
        <table class="table table-striped table-hover table-bordered" class="text-center" id="books">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Delete</th>
            </tr>
            <tr ng-repeat = "user in users">
                <td class="text-center">{{user.name}}</td>
                <td class="text-center">
                    <a class="btn btn-link" ng-click="deleteUser(user)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>